<?xml version="1.0"?>
<launch>
  <arg name="frame_id" default="lidar_frame" />
  <arg name="fix_to_lidar_link" default="true" />

  <arg name="topic_name" default="scan"/>
  <arg name="mode" default="client"/>
  <arg name="locator" default="tcp/192.168.86.134:7447"/>

  <!-- ldldiar message publisher node -->
  <node name="relay" pkg="scan_relay" type="scan_relay_node" output="screen" >
      <param name="mode" value="$(arg mode)"/>
      <param name="locator" value="$(arg locator)"/>
      <param name="topic_name" value="$(arg topic_name)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_ld06"
    args="0 0 0 1.57 0 0 /lidar /lidar_frame 100" if="$(arg fix_to_lidar_link)" />
</launch>
