<?xml version="1.0"?>
<launch>
  <arg name="legacy" default="false" />

  <arg name="mode" default="client"/>
  <arg name="locator" default=""/>

  <node name="servo_interface" pkg="mini_pupper_control" type="servo_interface.py" output="screen" unless="$(arg legacy)"
  args="-m $(arg mode) -c $(arg locator)" />
  <node name="servo_interface_legacy" pkg="mini_pupper_control" type="servo_interface_legacy.py" output="screen" if="$(arg legacy)"
  args="-m $(arg mode) -c $(arg locator)"/>
</launch>
